.correct-title {
  color: #2ecc71;
  font-size: 2rem;
  margin-bottom: 10px;
}

.incorrect-title {
  color: #e74c3c;
  font-size: 2rem;
  margin-bottom: 10px;
}

.correct-answer {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
